html{
	width: 100%;
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
	font-weight: 500;
	width: 100%;
	height: 100%;
	background-color: rgb(235, 238, 234);
	cursor: default;
}



/* ------------------> Estilizando o menu vertical <------------------ */


.menu-div{
    width: 200px;
	height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
	box-shadow: 5px 0px 10px rgb(214, 212, 212);
	z-index: 2;
}

/* Centralizando */
.menu-div-center{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
    height: 60px;
    margin-top: 70px;
}

/* Estilizando a div da imagem */
.menu-div-div-img{
	width: 100%;
	height: 60px;
}

/* Estilizando a imagem do logo da Embrapa */
.menu-div-div-img-embrapa{
	width: 100%;
    height: 60px;
}

/* Menuzinho (links) */
.menu-div-div-links{
	width: 100%;
	position: relative;
	top: 50px;
}

/* Estilizando a lista */
.menu-div-div-links-menu{
	padding: 0px;
    margin: 0px;
	list-style: none;
    font-size: 12pt;
    position: relative;
    width: 100%;
}

/* Estilizando as linhas da lista */
.menu-div-div-links-menu li{
    width: 100%;
    height: 50px;
    position: relative;
}

/* Estilizando a link das linhas da lista */
.menu-div-div-links-menu li a{
	text-decoration: none;
	color: rgb(0, 0, 0);
    display: inline-block;
    width: 175px;
    height: 50px;
    line-height: 50px;
    padding-left: 25px;
}

/* Atribuindo o hover aos links */
.menu-div-div-links-menu li a:hover{
	background-color: rgb(238, 238, 238);
	color: rgb(0, 0, 0);
}

/* Templates menuzinho (links) */
.menu-div-div-links-menu{
	list-style:none;
}

/* Estilizando a lista */
.menu-div-div-links-menu li{
	position: relative; 
}

/* Estilizando os links da lista secundária */

.link-nav{
    text-decoration: none;
    color: rgb(0, 0, 0);
	display: block;
	position: relative;
}

/* Estilizando a lista secundária (retirando o display da lista) */
.menu-div-div-links-menu li ul{
	position: absolute;
    top: 0px;
    width: 200px;
    left: 200.2px;
	background-color: rgb(255, 255, 255);
	display: none;
	box-shadow: 0px 5px 8px rgb(196, 196, 196);
}

/* Atribuindo o hover para aparecer a lista */
.menu-div-div-links-menu li:hover ul, .menu-div-div-links-menu li.over ul{
	display:block;
}

/* Estilizando as linhas da lista secundária */
.menu-div-div-links-menu li ul li{
	display:block; 
	width:150px;
}

/* ------------------> Div maior (fora do menu) <------------------ */


.container-main{
    width: 80%;
    min-height: 80%;
	position: relative;
	margin-left: auto;
	top: 5%;
	left: 100px;
	border-radius: 8px;
	margin-right: auto;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(235, 235, 235);
    padding: 15px;
    padding-left: 50px;
	margin-bottom: 30px;
}

.h3-main{
    margin-bottom: 30px;
}

/* ------------------> Página de listagem de imagens <------------------ */

.index{
    width: 32%;
    height: 390px;
    margin-right: 0.7%;
    margin-bottom: 2%;
    position: relative;
    float: left;
    background-color: rgb(238, 238, 238);
    border: solid 1px rgb(209, 209, 209);
    border-radius: 5px;
}

.index-p{
    margin-top: 20px;
    width: 50%;
    margin-left: 50px;
    position: relative;
    left: -30px;
    top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.index-div{
    width: 100%;
    height: 290px;
    position: relative;
    float: left;
}

.index-div-img{
    max-width: 90%;
    max-height: 220px;
    display: block;
    position: relative;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
}

.index-div-temp{
    width: 300px;
    height: 25px;
    position: relative;
	line-height: 25px;
    text-align: center;
    left: -20px;
}

.index-span{
    float: left;
    padding: 0px 10px 0px 10px;
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.center{
    position: absolute;
    top: 11px;
    width: 153.9px;
    right: -130px;
}

/* ------------------> Página de edição de imagem <------------------ */

.edicao{
    width: 98%;
    margin-bottom: 2%;
    float: left;
    background-color: rgb(239, 240, 239);
    border: solid 1px rgb(221, 220, 220);
    border-radius: 5px;
}

.edicao-p{
    margin-top: 10px;
    margin-left: 50px;
    position: relative;
    left: -30px;
    top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* img */

.edicao-div{
    width: 98%;
    height: 500px;
    position: relative;
    left: 1%;
    padding: 10px;
}

.edicao-div-img{
    max-width: 100%;
    max-height: 500px;
    display: block;
    position :relative;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    padding: 25px;
    border: solid 1px rgb(239, 240, 239);
    border-radius: 3px;
}

.edicao-div-img:hover{
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(192, 192, 192);
    transition: background-color, border 0.5s;
}

/* Brilho, contraste e saturação */

.edicao-div-edicao{
    width: 90%;
    position: relative;
    left: 5%;
    margin-top: 30px;
    border: solid 1px rgb(239, 240, 239);
    margin-bottom: 30px;
    border-radius: 3px;
    float: left;
    padding: 20px;
}

.edicao-div-edicao:hover{
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(192, 192, 192);
    transition: background-color, border 0.5s;
}

.edicao-div-edicao-label{
	margin-right: 3px;
}

.edicao-div-cor{
    float: left;
    width: 27%;
    margin-left: 5%;
}

/* .edicao-div-edicao-span{
    position: relative;
    top: -53px;
    left: 45px;
} */

.edicao-div-edicao-input-number{
	display: none;
}

.edicao-div-temp{
    width: 40%;
    height: 25px;
    position: relative;
	line-height: 25px;
    text-align: center;
    left: 30%;
    top: 0px;
}

/* ------------------> inputs e buttons <------------------ */

.input{
    padding: 8px;
    margin-top: 5px;
    padding-left: 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(196, 196, 196);
    outline: 0;
    width: 40%;
}

.input:focus{
    border-color: rgb(255, 255, 255);
    transition: border-color 0.3s;
    background-color: rgb(224, 224, 224);
    transition: background-color 0,5s;
}

.input-enviar{
    padding: 10px 40px 10px 40px;
    border-radius: 15px;
    border: solid 2px rgb(74, 185, 230);
    outline: 0;
    background-color: rgb(135, 206, 235);
    position: relative;
    left: 55px;
    font-size: 13pt;
}

.input-enviar:active{
    border: solid 1px rgb(74, 185, 230);
    transition: border 0.1s;
}

/* span-inputs */

.span-dica{
    position: relative;
    top: -40px;
}

/* input-file */

/* ------------------> Tabelas <------------------ */

.cab-table{
    background-color: rgb(135, 206, 235);
}

.cab-th-table{
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.line-table{
    background-color: rgb(221, 224, 223);
}

.line-td-table{
    padding: 15px;
    border-right: solid 3px rgb(255, 255, 255);
    border-bottom: solid 1px rgb(255, 255, 255);
    word-wrap: break-word;
    max-width: 141px;
}